body {
  width: 100%;
  height: 100%;
  margin: 30px;
}
h1{
  text-align: center;

}
figure img{
  text-align: center;
  padding: 10%;
  padding-right: 10%;
  -ms-flex-direction: center;
  width: 500px;
  height: 400px;
}
nav a{
  padding-left: 20px;
  padding-right: 10px;
  background-color: grey;
}

figcaption{
  font-size:x-small;
}
 p{ padding: 10px
}
div{
  float: left;
  text-align: center;
}

